<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contattaci</title>
    <link rel="stylesheet" href="/style/output.css">
    <link id="icon" rel="icon" type="image/png" href="/assets/logo.png">
</head>
<body class="bg-white min-h-screen">
    <div class="p-5">
        <div class="flex">
            <a href="#" class="text-black text-xl hover:underline">Home</a>
            <p class="text-black text-xl">&nbsp/&nbsp</p>
            <a href="#" class="text-black text-xl hover:underline">Contattaci</a>
        </div>
        <div class="flex gap-10 justify-center">
            <div class="flex justify-center items-center">
                <img src="./assets/contadina.png" alt="" class="h-[400px]">
            </div>
            <div class="flex justify-center pt-10">
                <div class="p-5 bg-slate-100 rounded-2xl shadow-2xl">
                    <h1 class="text-7xl text-black text-center mb-10">Contattaci</h1>
                    <form>
                        <div class="flex gap-5">
                            <div>
                                <h1 class="text-slate-600">Nome</h1>
                                <input type="text" class="input input-bordered text-slate-900 bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        
                                <h1 class="text-slate-600">Cognome</h1>
                                <input type="text" class="input input-bordered text-slate-900 bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <div>
                                <h1 class="text-slate-600">Email</h1>
                                <input type="text" placeholder="text@example.it" class="input input-bordered text-slate-900 bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        
                                <h1 class="text-slate-600">Telefono</h1>
                                <input type="text" placeholder="334-073-2859" class="input input-bordered text-slate-900 bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 ">
                            </div> 
                        </div>
                        <div>
                            <h1 class="text-slate-600 mt-4 text-center text-2xl mb-3">Corpo del messaggio</h1>
                            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-slate-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Scrivi il tuo messaggio qui..."></textarea>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>