<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">Piantagione</title>
    <link rel="stylesheet" href="/style/output.css">
</head>
<body class="bg-white min-h-screen">
    <%- include ('components/navbar_home') %>

    <div class="flex justify-between m-5">
        <div></div>
        <div>
            <button onclick="confermaEliminazione()" class="btn btn-primary text-white font-bold bg-red-600 border-red-600 hover:bg-red-700 hover:border-red-700">Elimina</button>
        </div>
    </div>
    
    <div class="flex gap-10 justify-center">
        <div>
            <div class="bg-gray-300 p-5 rounded-2xl shadow-2xl m-5">
                <div id="img_quantita" class="flex items-center justify-center my-4">
                    
                </div>
                <hr>
                <div class="flex gap-2 items-center justify-center my-3">
                    <img src="/assets/annaffiatoio.png" class="h-14">
                    <h1 id="annaffiatoio" class="font-bold text-2xl"></h1>
                </div>
                <hr>
                <div class="flex gap-2 items-center justify-center my-3">
                    <img src="/assets/raccolta.png" class="h-14">
                    <h1 id="raccolta" class="font-bold text-2xl"></h1>
                </div>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-gray-300 p-4 rounded-2xl shadow-2xl m-5">
                <div>
                    <h1 id="citta" class="font-bold text-center text-2xl text-black"></h1>
                    <div class="my-3">
                        <h1 class="text-black font-bold text-xl">Oggi</h1>
                        <div id="meteo1" class="flex gap-4 justify-center items-center">
                            <div id="imgMeteo1"></div>
                            <div id="textMeteo1"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="my-3">
                        <h1 class="text-black font-bold text-xl">Domani</h1>
                        <div id="meteo2" class="flex gap-4 justify-center items-center">
                            <div id="imgMeteo2"></div>
                            <div id="textMeteo2"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="my-3">
                        <h1 class="text-black font-bold text-xl">Dopo Domani</h1>
                        <div id="meteo3" class="flex gap-4 justify-center items-center">
                            <div id="imgMeteo3"></div>
                            <div id="textMeteo3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <h1 class="text-black">Weather App</h1>
    <input id="cityInput" placeholder="Enter city" type="text" class="input input-bordered w-full bg-white">
    <button onclick="getWeather()">Get Weather</button>
    <div class="weather-info" id="weatherInfo"></div> -->

    <%- include ('components/footer') %>
    <script src="/script/piantagioneUtils.js"></script>
    
</body>
</html>