<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>
    <link rel="stylesheet" href="/style/output.css">
    <link id="icon" rel="icon" type="image/png" href="/assets/logo.png">
</head>
<body class="bg-white min-h-screen">
    <%- include ('components/navbar_home') %>
    <div class="flex items-center justify-center m-10 bg-gray-300 rounded-2xl shadow-2xl w-96 mx-auto">
        <div class="m-5">
            <img src="/assets/profilo.png" class="h-28 m-auto mb-3">
            <div class="flex gap-4">
                <div>
                    <h1 class="text-slate-800 mb-2">Nome:</h1>
                    <h1 class="text-slate-800 mb-2">Cognome:</h1>
                    <h1 class="text-slate-800 mb-2">Email:</h1>
                    
                    <hr>
                    <h1 class="text-slate-800 my-2">Piantagioni:</h1>
                </div>
                <div class="">
                    <h1 id="nome" class="text-black font-bold mb-2"></h1>
                    <h1 id="cognome" class="text-black font-bold mb-2"></h1>
                    <h1 id="email" class="text-black font-bold mb-2"></h1>
    
                    <hr>
                    <h1 id="n_piantagioni" class="text-black font-bold my-2"></h1>
                </div>
            </div>
            <div class="w-full flex items-center justify-center mt-3">
                <button onclick="openModificaModal()" class="btn btn-primary text-white">Modifica</button>
            </div>
        </div>
    </div>

    <dialog id="modificaDialog">
        <div class="modal-box flex flex-col gap-4 bg-slate-200">
            <h3 class="text-xl text-black">Modifica Utente</h3>
            <form id="modificaForm" class="flex flex-col gap-4">
                <div class="flex gap-3">
                    <div>
                        <h1>Nome</h1>
                        <input id="inputNome" placeholder="Nome" type="text" name="nome" class="input input-bordered w-full bg-white text-black">
                        <h1>Cognome</h1>
                        <input id="inputCognome" placeholder="Cognome" type="text" name="cognome" class="input input-bordered w-full bg-white text-black">
                    </div>
                    <div>
                        <h1>Email</h1>
                        <input id="inputEmail" placeholder="email" type="text" name="email" class="input input-bordered w-full bg-white text-black">
                        <h1>Password</h1>
                        <input id="inputPassword" placeholder="*******" type="password" name="password" class="input input-bordered w-full bg-white text-black">
                        <h1>Conferma Password</h1>
                        <input id="inputRepeatPassword" placeholder="*******" type="password" name="repeatpassword" class="input input-bordered w-full bg-white text-black">


                    </div>
                </div>
                <div class="modal-action">
                    <button type="button" class="btn text-white" onclick="modificaDialog.close()">Chiudi</button>
                    <button type="submit" class="btn btn-primary text-white">Modifica</button>
                </div>
            </form>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

    <%- include ('components/footer') %>
    <script src="/script/profilo.js"></script>
</body>
</html>